<h2>Szczegóły Kursu: {{ course.nazwa }}</h2>

<h3>Dodaj Ucznia do Kursu</h3>
<form (ngSubmit)="addStudentToCourse()">
  <label for="student-select">Wybierz ucznia:</label>
  <select
    id="student-select"
    [(ngModel)]="selectedStudentId"
    name="selectedStudentId"
    required
  >
    <option value="" disabled selected>Wybierz ucznia</option>
    <option *ngFor="let student of availableStudents" [value]="student.id">
      {{student.id }} - {{ student.imie }} {{ student.nazwisko }}
    </option>
  </select>
  <button type="submit">Dodaj Ucznia</button>
</form>

<h3>Dodaj Nową Formę Sprawdzania</h3>
<form #form="ngForm" (ngSubmit)="addForm(form)">
  <label for="typ">Typ:</label>
  <select id="typ" [(ngModel)]="newForm.typ" name="typ" required #typ="ngModel">
    <option value="" disabled selected>Wybierz typ</option>
    <option value="kartkowka">Kartkówka</option>
    <option value="sprawdzian">Sprawdzian</option>
    <option value="odpowiedz_ustna">Odpowiedź ustna</option>
    <option value="inna">Inna</option>
  </select>
  <div *ngIf="typ.invalid && typ.touched" class="error-message">
    Proszę wybrać typ.
  </div>
  <br />

  <label for="opis">Opis:</label>
  <input
    type="text"
    id="opis"
    [(ngModel)]="newForm.opis"
    name="opis"
    required
    #opis="ngModel"
  />

  <div *ngIf="opis.invalid && opis.touched" class="error-message">
    Proszę podać opis.
  </div>
  <br />

  <label for="waga">Waga:</label>
  <input
    type="number"
    id="waga"
    [(ngModel)]="newForm.waga"
    name="waga"
    min="1"
    required
    #waga="ngModel"
  />
  <div *ngIf="waga.invalid && waga.touched" class="error-message">
    Proszę podać wagę.
  </div>
  <br />

  <button type="submit" [disabled]="form.invalid">Dodaj Formę</button>
</form>

<h3>Lista Uczniów i Oceny</h3>
<table>
  <thead>
    <tr>
      <th>Id Ucznia</th>
      <th>Imię i Nazwisko Ucznia</th>
      <th *ngFor="let form of forms">
        {{ form.typ }} <br /> ({{ form.opis }})
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.imie }} {{ student.nazwisko }}</td>
      <td *ngFor="let form of forms">
        <input
          type="number"
          min="1"
          max="6"
          [(ngModel)]="gradeValues[student.id][form.id]"
          (blur)="saveGrade(student.id, form.id)"
        />
      </td>
    </tr>
  </tbody>
</table>

<h3>Obecność Uczniów</h3>
<button type="submit" (click)="addAttendanceForToday()">Dodaj Dzisiejsze Zajęcia</button> <br/> <br/>
<table>
  <thead>
    <tr>
      <th>Id Ucznia</th>
      <th>Imię i Nazwisko Ucznia</th>
      <th *ngFor="let date of attendanceDates">{{ date | date: 'yyyy-MM-dd' }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.imie }} {{ student.nazwisko }}</td>
      <td *ngFor="let date of attendanceDates">
        <input
          type="checkbox"
          [checked]="attendanceData[student.id]?.statusy[date] == 1"
          (change)="onCheckboxChange($event, student.id, date)"
        />
      </td>
    </tr>
  </tbody>
</table>
