<h2>Twoje Kursy</h2>

<form #courseForm="ngForm" (ngSubmit)="createCourse(courseForm)">
  <label for="nazwa">Nazwa Kursu:</label>
  <input
    type="text"
    id="nazwa"
    [(ngModel)]="newCourse.nazwa"
    name="nazwa"
    required
    #nazwa="ngModel"
  />
  <div *ngIf="nazwa.invalid && nazwa.touched" class="error-message">
    Nazwa kursu jest wymagana.
  </div>
  <br />

  <label for="data_rozpoczecia">Data Rozpoczęcia:</label>
  <input
    type="date"
    id="data_rozpoczecia"
    [(ngModel)]="newCourse.data_rozpoczecia"
    name="data_rozpoczecia"
    required
    #dataRozpoczecia="ngModel"
  />
  <div *ngIf="dataRozpoczecia.invalid && dataRozpoczecia.touched" class="error-message">
    Data rozpoczęcia jest wymagana.
  </div>
  <br />

  <button type="submit" [disabled]="courseForm.invalid">Utwórz Kurs</button>
</form>

<ul>
  <li *ngFor="let course of courses">
    {{ course.nazwa }} - {{ course.data_rozpoczecia | date:'dd-MM-yyyy' }} ( {{ course.data_rozpoczecia | date:'EEEE' }} )
    <button (click)="goToCourseDetails(course.id)">Szczegóły</button>
  </li>
</ul>